[package]
name = "pigeon"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4"
clap = { version = "3.2", features = ["derive"] }
ctrlc = "3.2"
env_logger = "0.9"
log = "0.4"
reqwest = { version = "0.11", features = ["blocking", "json"] }
rocksdb = "0.18"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
url = "2.2"
