rocksdb_path = "rocksdb" # Path to where RocksDB stores data
twitter_token = "xxx"    # Twitter API token
telegram_token = "xxx"   # Telegram Bot API token

# Poll Twitter timeline(s)
# Note: When Pigeon runs for the first time, it will start polling from `start_time` until `end_time`.
# After the initial run, it will continue polling from where it left off based on the latest data stored in RocksDB.
[[poll]]
included = true                         # Whether to include this Twitter user's timeline for polling
username = "TwitterDev"                 # Twitter username for this timeline
max_results = 5                         # Maximum number of tweets per page when polling, default is 100
start_time = "2022-10-25T00:00:00.000Z" # The start time of the timeline to poll, default is the oldest time available
end_time = "2022-11-01T00:00:00.000Z"   # The end time of the timeline to poll, default is the current time
since_id = "xyz"                        # The tweet ID to resume polling from (optional)

# Push polled timeline data to Telegram channel(s)
[[push]]
included = true                     # Whether to include this channel for pushing
from = "TwitterDev"                 # The Twitter user's timeline to push from
username = "@some_channel_username" # The Telegram channel username (for public channels) or chat ID (for private channels), see: https://core.telegram.org/bots/api#sendmessage
