rocksdb_path = "rocksdb" # Path to Rocksdb
twitter_token = "xxx"    # Twitter API token
telegram_token = "xxx"   # Telegram Bot API token

# Poll Twitter timeline from user(s)
# Note: Pigeon uses `start_time` and `end_time` when it runs for the first time.
# After first running, it will continue polling from the latest state which it kept from RocksDB.
[[poll]]
included = true                         # Whether this Twitter user's timeline is included for polling
username = "TwitterDev"                 # Twitter username
max_results = 5                         # Max results per page of timeline when polling, optioanl, default to 100
start_time = "2022-10-25T00:00:00.000Z" # Start time of timeline to poll, optioanl, default to oldest time
end_time = "2022-11-01T00:00:00.000Z"   # End time of timeline to poll, optioanl, default to present time
since_id = "xyz"                        # Tweet id in timeline to continue polling, optioanl

# Push polled timeline data to Telegram channel(s)
[[push]]
included = true                     # Whether this channel is included for pushing
from = "TwitterDev"                 # From which Twitter user's timeline for pushing
username = "@some_channel_username" # Channel username for public Telegram channel or chat id for private one, see: https://core.telegram.org/bots/api#sendmessage
