on: [workflow_dispatch, push, pull_request]

name: Test and Build

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust-toolchain: [stable]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: extractions/setup-just@v1
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust-toolchain }}
          components: rustfmt,clippy
          override: true
      - uses: rui314/setup-mold@v1
      - name: Cache build artifacts
        uses: Swatinem/rust-cache@v1
      - name: Install cargo-nextest
        uses: baptiste0928/cargo-install@v1
        with:
          crate: cargo-nextest
      - name: Check code style
        run: cargo fmt --all -- --check
      - name: Build code
        run: |
          just build
          readelf -p .comment target/release/pigeon
      - name: Lint code
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features -- -W clippy::all
      - name: Test code
        run: just test
      # - name: Audit code
      #   uses: actions-rs/audit-check@v1
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
